* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.number_block {
    height: 62px;
}

.parent_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}